<html>
    <head>
        <title><TMPL_VAR NAME=COVER_TITLE></title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h1 id="title"> <TMPL_VAR NAME=COVER_TITLE> </h1>
        <div id="date_container">
            <p id="date">Generated on  <TMPL_VAR NAME=COVER_DATE> </p>
        </div>
        <TMPL_IF NAME=WEATHER>
        <h3 id="weather_location"> Weather forecast for <TMPL_VAR NAME=WEATHER_LOCATION> </h3>
        <div id="weather">
               <TMPL_LOOP NAME=WEATHER_LOOP>
               <div class="weather_info">
                    <h5 class="weather_date"><TMPL_VAR NAME=WEATHER_DATE></h5>
                    <p class="weather_condition"><TMPL_VAR NAME=WEATHER_CONDITION>  <TMPL_VAR NAME=WEATHER_TEMP> </p>
               </div>
               </TMPL_LOOP>
        </div>
        </TMPL_IF>
        <TMPL_IF NAME="BASHORG">
        <div id="quote">
            <h5> Random Bash.org quote for today: </h5>
            <p><TMPL_VAR NAME=QUOTE></p>
        </div>
        </TMPL_IF>
    </body>
</html>
